PORT=5000
# MongoDB Connection String (e.g., mongodb+srv://<user>:<password>@cluster.mongodb.net/dbname)
MONGO_URI=mongodb+srv://dbUserbasheer:<db_password>@cluster0.od15rvc.mongodb.net/?appName=Cluster0
# Secret for JWT signing
JWT_SECRET=yoursecretkeyhere
# Google Gemini API Key
GEMINI_API_KEY=
# Groq API Key (for Llama 3.2 Vision)
GROQ_API_KEY=
# OpenAI API Key (for TTS)
OPENAI_API_KEY=
# Node Environment
NODE_ENV=development
